<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appSettings>
        <add key="PYTHONPATH" value="api/src"/>
        <add key="WSGI_HANDLER" value="src.main.wsgi_app" />
    </appSettings>
    <system.webServer>
        <handlers>
            <remove name="reestr_backend" />
            <add name="reestr_backend" path="*" verb="*" modules="FastCgiModule" 
                scriptProcessor="D:\vxvproj\TNNC-UITO\REESTR\reestr_backend\venv\Scripts\python.exe|D:\vxvproj\TNNC-UITO\REESTR\reestr_backend\venv\Scripts\wfastcgi.exe" 
                resourceType="Unspecified" 
                requireAccess="Script" 
            />
        </handlers> 
    </system.webServer>
</configuration>
